body {
    font-family: "Arial, Helvetica";
}

.title-center {
    text-align: center;
}

[name=todoItem] {
    border:none;
    font-family: "Helvetica Sans";
    font-size: 100%;
    padding:0.15em;
}

[name=todoItem]:hover {
    background-color: #f9f9f9;
    cursor:pointer;
}

[name=todoItem]:focus {
    background-color: #f9f9f9;
    cursor:default;
    outline:none;
}

.checked{
    background-color:#f0f0f0;
    color:#666;
}

.checked [name=todoItem]{
    text-decoration: line-through;
}

.checked [name=todoItem],
.checked [name=todoItem]:hover,
.checked [name=todoItem]:focus{
    background-color:#f0f0f0;
}

ul.main-navigation {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

ul.main-navigation li {
    float: left;
    width: 25%;
    text-align: center;
    text-transform: uppercase;
}

/* Notifications */
ul.notifications {
    position: fixed;
}

input.error{
    background-color:rgb(255, 231, 231);
}

.loading {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    height: 50px;
    background-color: black;
    opacity: 0.75;
    margin: 0;
}

.loading>p {
    color: white;
}
