<template name="main">
    <h1 class="title-center">Todos</h1>
    {{> navigation}}
    {{#if currentUser}}
        {{> lists}}
    {{/if}}
    {{> yield}}
    <hr />
    <p>Copyright &copy; Todos, 2014-2015.</p>
</template>
