<template name="navigation">
    <center>
        <ul class="main-navigation">
            <li><a href="{{pathFor route='home'}}">Home</a></li>
            <li><a href="{{pathFor route='register'}}">Register</a></li>
            <li><a href="{{pathFor route='todos'}}">Todos</a></li>
            {{#if currentUser}}
                <li><a href="#" class="logout">Logout</a></li>
            {{else}}
                <li><a href="{{pathFor route='login'}}">Login</a></li>
            {{/if}}
        </ul>
    </center>
</template>
