<template name="todos">
    {{> addTodo}}
    <ul>
        {{#each todo}}
            {{> todoItem}}
        {{/each}}
    </ul>
    {{> todosCount}}
</template>

<template name="todoItem">
    <li class="{{checked}}">
        <input type="checkbox" {{checked}} />
        <input type="text" value="{{ name }}" name="todoItem" />
        [<a href="#" class="delete-todo">X</a>]
    </li>
</template>

<template name="addTodo">
    <form>
        Create a task:
        <input type="text" placeholder="Type a task here..." name="todoName" />
    </form>
</template>

<template name="todosCount">
    {{#if totalTodos}}
        <p>You have completed {{ completedTodos }} out of {{ totalTodos }} tasks.</p>
    {{/if}}
</template>
